{% extends 'bootstrap/base.html' %}
{% block title %}ハートビーツ研修共有ブログ{% endblock %}

{% block navbar %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('index') }}">ハートビーツ研修共有ブログ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if not current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">ログイン</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('new') }}">新規投稿</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user') }}">ユーザ情報</a>
      </li>
        {% if current_user.get_admin() %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('userall') }}">ユーザ一覧</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">ログアウト</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}